<header
  class="masthead"
  style="background-image: url('assets/img/blog-page-head-img.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 co-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog Posts</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-md m-5">
  <div class="row">
    <button (click)="newPost()" class="btn btn-primary">Create New Post</button>
  </div>
  <div class="row">
    <ul class="col-6 list-group">
      <li
        class="list-group-item"
        [ngClass]="{
          'list-group-item-success': selectedPost === post,
          'text-white bg-dark': selectedPost !== post
        }"
        *ngFor="let post of posts"
        [class.selected]="post === selectedPost"
        (click)="onSelect(post)"
      >
        <span class="badge">{{ post.userId }}</span> {{ post.title }}
      </li>
    </ul>

    <div class="col-6" *ngIf="selectedPost">
      <app-post-detail [post]="selectedPost"></app-post-detail>
    </div>
  </div>
</div>
