<nav class="navbar navbar-expand-lg" id="navbar-app">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <fa-icon [icon]="faHomeIcon"></fa-icon> Home
    </a>
    <button
      type="button"
      class="navbar-toggler"
      (click)="toggleNavbar = !toggleNavbar"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"
        ><fa-icon [icon]="faBarsIcon"></fa-icon
      ></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="toggleNavbar"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto">
        <li class="nav-item users-header">
          <a
            class="users-header nav-link active"
            appUsersLink
            [routerLink]="['/Users']"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a class="posts-header nav-link active" appPostsLink [routerLink]="['/Posts']">Posts</a>
        </li>
      </ul>
    </div>
    <button class="btn btn secondary" type="button" data-toggle=""></button>
    <div class="nav navbar-nav navbar-right">
      <!-- <button class="btn btn-secondary" [routerLink]="['/login']" type="button">
        <fa-icon [icon]="faSignInIcon"></fa-icon> Login
      </button>
      <button
        class="btn btn-secondary"
        [routerLink]="['/register']"
        type="button"
      >
        <fa-icon [icon]="faRegisterIcon"></fa-icon>Register
      </button> -->

      <button
        *ngIf="!userIsLoggedIn"
        class="btn btn-secondary"
        [routerLink]="['/login']"
        type="button"
      >
        <fa-icon [icon]="faSignInIcon"></fa-icon> Login
      </button>
      <button
        *ngIf="!userIsLoggedIn"
        class="btn btn-secondary"
        [routerLink]="['/register']"
        type="button"
      >
        <fa-icon [icon]="faRegisterIcon"></fa-icon> Register
      </button>
      <button
        *ngIf="userIsLoggedIn"
        class="btn btn-secondary"
        (click)="logoutUser()"
        type="button"
      >
        <fa-icon [icon]="faSignOutIcon"></fa-icon> Logout
      </button>
    </div>
  </div>
</nav>
