<div class="container-md">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="txtUserId">UserId</label>
      <input 
        type="text"
        class="form-control"
        id="txtUserId"
        name="txtUserId"
        placeHolder="JohnDoeUserName"
        [(ngModel)]="userId"
      />
      <label for="txtFirstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="txtFirstName"
        name="txtFirstName"
        placeholder="John"
        [(ngModel)]="firstName"
      />
      <label for="txtLastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="txtLastName"
        name="txtLastName"
        placeholder="Doe"
        [(ngModel)]="lastName"
      />
      <label for="emailUserEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        id="emailUserEmail"
        name="emailUserEmail"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="emailAddress"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="pswdUserPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="pswdUserPassword"
        name="pswdUserPassword"
        [(ngModel)]="password"
      />
    </div>
    <div *ngIf="message != ''" [ngClass]="{'alert-danger':!success, 'alert-success':success}" class="alert" role="alert">
      {{message}}
    </div>
    <button (click)="changeAlert()" class="btn btn-success">Create User</button>
  </form>
</div>
