<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">LibraryApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav navbar-nav navbar-right">
      <!-- <button class="btn btn-secondary" [routerLink]="['/login']" type="button">
        <fa-icon [icon]="faSignInIcon"></fa-icon> Login
      </button>
      <button
        class="btn btn-secondary"
        [routerLink]="['/register']"
        type="button"
      >
        <fa-icon [icon]="faRegisterIcon"></fa-icon>Register
      </button> -->

      <button *ngIf="!userIsLoggedIn" class="btn btn-secondary" [routerLink]="['/login']" type="button"><fa-icon [icon]='faSignInIcon'></fa-icon> Login</button>
      <button *ngIf="!userIsLoggedIn" class="btn btn-secondary" [routerLink]="['/register']" type="button"><fa-icon [icon]='faRegisterIcon'></fa-icon> Register</button>
      <button *ngIf="userIsLoggedIn" class="btn btn-secondary" (click)="LogoutUser()"  type="button"><fa-icon [icon]='faRegisterIcon'></fa-icon> Logout</button>

    </div>
  </div>
</nav>
