<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Create New User</title>
        <!-- Bootstrap -->
          <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link href="../css/bootstrap-4.4.1.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    </head>
    <body>
  	<!-- body code goes here -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">CIS4930</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-t21oggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Request Methods</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#get-method-requests">Get</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#post-method-requests">Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#patch-method-requests">Patch</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#delete-method-requests">Delete</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
            
        </div>
        <div class="card col-lg-12"> 
            <div class="card-body">
                <div class="container justify-content-around">
            <form id="create-user-form">
                <div class="form-group">
                    <label for="UserID">UserID</label>
                    <input type="text" class="form-control" id="UserID" placeholder="Enter a unique UserID">
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="EmailAddress">Email Address</label>
                        <input type="email" class="form-control" id="EmailAddress" placeoholder="Enter your email address">
                    </div>
                    <div class="col">
                        <label for="_password">Password</label>
                        <input type="password" class="form-control" id="_password" placeholder="Enter a secure password">
                    </div>
                </div>
                <div class="form-row my-2">
                    <div class="col">
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control" id="FirstName">
                    </div>
                    <div class="col">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName">
                    </div>
                </div>
                <div class="form-row text-center">
                    <div class="col">
                        <button type="button" id="create-button" class="btn btn-primary">Create User</button>
                    </div>
                    <div class="col">
                        <button type="button" id="search-button" class="btn btn-dark">Search User</button>
                    </div>
                    <div class="col">
                        <button type="button" id="delete-button" class="btn btn-danger">Delete User</button>
                    </div>
                    <div class="col">
                        <button type="button" id="update-button" class="btn btn-success">Update User</button>
                    </div>
                </div>

            </form>
        </div>
</div>
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="../js/jquery-3.4.1.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/popper.min.js"></script> 
        <script src="../js/bootstrap-4.4.1.js"></script>
    </body>
</html>